include template/_mixins.jade
extends template/_default.jade

block append css
  +ex_css('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext')
block append hjs
  +jsF('main.js')

block contents
  #leftPanel
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
    .item
  #leftPanelSecond
  main
    svg#board
      //- <marker id="arrow"
      //- viewBox="0 0 10 10" refX="33" refY="5" 
      //- markerUnits="strokeWidth"
      //- markerWidth="6" markerHeight="15"
      //- orient="auto"
      //- fill='#C2C2C2'>
      //-   <path d="M 0 0 L 12 5 L 0 10 z" />
      //- </marker>
  h1#title Lesson 1
  h2#subTitle Tree data structure
  #popout
    .black
    .main
      h1 Warning
      p balabala bala blala dfsdf asdf ef asdf  wef f d 
